# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
/dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# pyenv python configuration file
.python-version





# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules


# maybe include later?
#stylesheets
manifest.json
stats-dev.json

/assets/client/stats.json
/assets/client-dev
/index-dev.html


/garkbit/dist/stats.json
/garkbit/dist/stats-dev.json
/garkbit/dist/stats.json.gz
/garkbit/dist/stats-dev.json.gz
/garkbit/dist/manifest.json
/garkbit/dist/*.map
/garkbit/dist/*.map.gz


/garkbit/dist/icons-*/.cache*


# FIXME hiding large icons
# original is 96x96

/garkbit/dist/icons-*/*x512.png
/garkbit/dist/icons-*/*x384.png
/garkbit/dist/icons-*/*x310.png
/garkbit/dist/icons-*/*x256.png
/garkbit/dist/icons-*/*x192.png
/garkbit/dist/icons-*/*x180.png
/garkbit/dist/icons-*/*x167.png
/garkbit/dist/icons-*/*x152.png
/garkbit/dist/icons-*/*x150.png
/garkbit/dist/icons-*/*x144.png
/garkbit/dist/icons-*/*x128.png
/garkbit/dist/icons-*/*x120.png
/garkbit/dist/icons-*/*x114.png

# local dev tokens
/.cltoken
/.lcltoken

# development databases
/*.sqlite
/*.sqlite-journal


